<!doctype html>

	<script type="text/javascript">
	var charts = new Array;
	jQuery.fn.renderChart = function(attr) {
	  i = charts.length;
	  var chart = charts[i] = new Highcharts.Chart({
	    chart: {
	      renderTo: $(this).attr('id'),
				height: 235,
				width: 700,
	    },
	    series: attr.series,
			title: {
				text: 'Staff Numbers History',
			},
			subtitle: {
				text: 'Source: Company Staff Number Table',
			},
			tooltip: {
				formatter: function() {
		                return '<b>'+ this.series.name +'</b><br/>'+
					Highcharts.dateFormat("%B, %Y",	this.x) +': '+'</b><br/>'+ this.y +'Employees';
				}
			},
			yAxis: {
				title: {
					text: 'Number of employee'
				},
				plotLines: [{
					value: 0,
					width: 1,
					color: '#808080'
				}]
			},
			legend: {
				layout: 'vertical',
				align: 'right',
				verticalAlign: 'top',
				x: -10,
				y: 100,
				borderWidth: 0
			},
			xAxis: {
				type: "datetime"
			}
	  });

	}

	$(document).ready(function(){
	 <% @companies.each do |company| %>
	  $("#staff-chart-<%= company.permalink %>").renderChart({
					series: [{
					pointInterval: <%= 1.month * 1000 %>, 			
					pointStart: <%= 20.month.ago.to_i * 1000 %>,
	        type: 'spline',
	        name: 'Staff Level',
	        data: [<% StaffLevel.where(:company_permalink => company.permalink).each do |staff_level|  %> 
	
						[Date.UTC(<%=  staff_level.date_of_record.try(:strftime,("%Y,%m,%d")) %>), <%= staff_level.number_of_employees %>],

					<% end %>],
	      }],
	    });
	  <% end %>

	});
	</script>
	
</head>
<body>
<div id="screen-resolution-helper">
<!--#######################	TOP	###########################-->

<div id="toolbar">
	<div id="styled-choice-links">
		<a href="#" id="company-button" class="tabs-ppl" title="People">C</a><br />
		<a href="#" id="people-button" class="tabs-cmp" title="Companies">P</a><br />
		<a href="#" id="commit" class="tabs-org" title="Commit">C</a>
	</div><!--/#styled-choice-links -->
</div><!-- /#toolbar -->
<div id="dash">
	<div id="input">
		<input name="search" value="" id="search" type="text" />
		<div id="input-new-company-dialog">
			<form id="input-new-company-form">
				<p class="add-field" style="cursor:pointer">++</p>
				<fieldset>
					<legend>What is the company's name?</legend>
					<input type="text" name="new-company" />
				</fieldset>
				<fieldset>
					<legend>Enter staff level information:</legend>
					<input type="text" name="new-company-staff-level" />
					<span class="new-company-add-record">
						<p>Enter a date for this record</p>
						<input class="datepicker" type="text" />
					</span>
				</fieldset>
				<fieldset>
					<legend>Enter their products:</legend>
					<input type="text" name="new-company-product" />
				</fieldset>
				<fieldset>
					<legend>Enter persons of interest:</legend>
					<input type="text" name="new-company-people" />
				</fieldset>
				<fieldset>
					<legend>Enter any funding information here:</legend>
					<input type="text" name="new-company-funding-round" />
					<p id="input-new-company-form-button" rel=""><a href="#">Submit +</a></p>
				</fieldset>
			</form>
			
		</div>
		<div id="choice-tabs">
			<ul id="choice-list">
				<li><a href="#tabs-ppl"></a></li>
				<li><a href="#tabs-cmp"></a></li>
				<li><a href="#tabs-org"></a></li>
			</ul><!--/#choice-list -->
			<div id="tabs-menu-wrapper">
				<div id="tabs-ppl"></div>
				<div id="tabs-cmp"></div>
				<div id="tabs-org"></div>
			</div><!--/#tabs-menu-wrapper -->
		</div><!--/#choice-tabs -->
	</div><!--/#input -->
	<div id="actions">
		<div id="staff-context-menu" class="staff">
			<h4>New Staff Level</h4><br />
			<span>New Staff level: <input name="new_staff_level" type="text" /></span>
			<span>Date: <input type="text" class="datepicker" name="staff-date" /></span>
			<button rel="new-staff-level">submit</button>
		</div>
		<span class="people">
		<p>Person Based Context Menu</p>
		<span>New Person</span>
		<select></select>
		<input type="text" />
		</span>
		<span class="funding">
		<p>Funding Based Context Menu</p>
		<span>New Funding Information</span>
		<input type="text" />
		<select></select>
		</span>
		<div id="office-context-menu" class="offices">
		<h4>Enter a new office location:</h4>
		<span>Description: <input name="description" type="text" /></span>
		<span>Address 1: <input name="address1" type="text" /></span>
		<span>Address 2: <input name="address2" type="text" /></span>
		<span>Zip code: <input name="zip-code" type="text" /></span>
		<span>City: <input name="city-code" type="text" /></span>
		<span>State code: <input name="state-code" type="text" /></span><br />
		<span>Country code: <input name="country-code" type="text" /></span><br />
		<button rel="new-office-location">S</button>
		</div>
		<div id="product-context-menu" class="products">
			<h4>New Product</h4>
			<span>Product Name:</span><input name="new_product" type="text" />
			<span>Status:</span>
				<select>
					<option> - - - 			</option>
					<option>Released		</option>
					<option>In Development	</option>
					<option>Beta - public	</option>
					<option>Beta - private	</option>
					<option>Aplha			</option>
					<option>Rumour			</option>
				</select>
			<span>Date:</span><input type="text" class="datepicker" />
		</div>
		<div id="query-status" class="ui-state-highlight" style="overflow:scroll;"></div>
	</div><!--/#actions -->
</div><!--/#dash -->

<!--#######################	MID	###########################-->

<div id="display">
	<div id="view">
		<div class="accordion">
			<div id="accordion-wrapper">
				<h3>
					<a href="#">Company</a>
					<button rel="staff">staff</button>
					<button rel="people">people</button>
					<button rel="funding">funding</button>
					<button rel="offices">offices</button>
					<button rel="products">products</button>
				</h3>
				<div id="company-1" style="display:none;">
					<ul class="hidden">
						<li><a href="#staff"></a></li>
						<li><a href="#people"></a></li>
						<li><a href="#funding"></a></li>
						<li><a href="#offices"></a></li>
						<li><a href="#products"></a></li>
					</ul>
					<div id="staff">
						<div id="empnum_chart" class="chart-holder right">
						</div>
						<div class="accordion-sub-menu">
							<a href="/showchart" class="button right">C</a>
							<a href="/edit" class="button right">E</a>
							<a href="#" rel="new-staff-level" class="button right">N</a>
						</div>
					</div>
					<div id="people"></div>
					<div id="funding"></div>
					<div id="offices"></div>
					<div id="products"></div>
				</div><!-- /#company-1 -->
				<% @companies.each do |company| %>
					<h3>
						<a href="#"><%= company.name %></a>
						<button rel="staff-<%= company.permalink %>">staff</button>
						<button rel="people-<%= company.permalink %>">people</button>
						<button rel="funding-rounds-<%= company.permalink %>">funding</button>
						<button rel="offices-<%= company.permalink %>">offices</button>
						<button rel="products-<%= company.permalink %>">products</button>
					</h3>
					<div id="company-<%= company.permalink %>">
						<ul class="hidden">
							<li><a href="#staff-<%= company.permalink %>"></a></li>
							<li><a href="#people-<%= company.permalink %>"></a></li>
							<li><a href="#funding-rounds-<%= company.permalink %>"></a></li>
							<li><a href="#offices-<%= company.permalink %>"></a></li>
							<li><a href="#products-<%= company.permalink %>"></a></li>
						</ul>
						<div id="staff-<%= company.permalink %>">
							<div id="staff-chart-<%= company.permalink %>" class="chart-holder right">
							</div>
							<div class="accordion-sub-menu">
								<a href="/showchart" id="show-chart-<%= company.permalink %>" class="button right">C</a>
								<a href="/edit" class="button right">E</a>
								<a href="#" rel="new-staff-level" class="button right">N</a>
							</div>	
						</div>
						<div id="people-<%= company.permalink %>">
							<div class="chart-holder right"></div>
							<div class="accordion-sub-menu"></div>	
						</div>
						<div id="funding-rounds-<%= company.permalink %>">
							<div class="chart-holder right"></div>
							<div class="accordion-sub-menu"></div>	
						</div>
						<div id="offices-<%= company.permalink %>">
							<div class="chart-holder right"></div>
							<div class="accordion-sub-menu">
								<a href="/showchart" class="button right">C</a>
								<a href="/edit" class="button right">E</a>
								<a href="#" rel="new-office-location" class="button right">N</a>
							</div>
						</div>
						<div id="products-<%= company.permalink %>">
							<div class="chart-holder right"></div>
							<div class="accordion-sub-menu">
								<a href="/showchart" class="button right">C</a>
								<a href="/edit" class="button right">E</a>
								<a href="#" rel="new-product" class="button right">N</a>
							</div>	
						</div>
					</div>
				<% end %>
			</div><!-- /#accoridion-wrapper -->
		</div><!--/.accordian -->
	</div><!--/#view -->
</div><!-- /#display -->

<!--######################  HIDDEN	########################-->

<span id="hidden-interface-elements" class="hidden">
	<input type="hidden" id="info" name="info" />
	<input class="button" type="button" id="__sub" value="" />
	<div class="staff-levels">
		<% @staff_levels.each do |staff_levels| %>
			<p class="<%= staff_levels.company_permalink %>">
			<span>Staff Levels:</span>  <%= staff_levels[:number_of_employees] %> -- as of <%= staff_levels[:date_of_record] %>
			</p>
		<% end %>
	</div><!-- /.staff-levels -->
	<div class="people">
		<% @people.each do |people| %>
			<p class="<%= people %>">
				<%= people[:first_name] %> -- <% people[:title] %>
			</p>
		<% end %>
	</div>
	<div class="offices">
		<% @offices.each do |offices| %>
			<p class="<%= offices.company_permalink %>">
			<%= offices[:description] %> -- <% offices[:company_permalink] %>
			</p>
		<% end %>
	</div>
	<div class="products">
		<% @products.each do |products| %>
			<p class="<%= products.company_permalink %>">
			<%= products[:name] %> -- <% products[:created_at] %>
			</p>
		<% end %>
	</div>
	<div class="funding_rounds">
		<% @funding_rounds.each do |funding_rounds| %>
		<p class="<%= funding_rounds.company_permalink %>">
		<%= funding_rounds[:funded_year] %> -- <% funding_rounds[:raised_amount] %></p>
		<% end %>
	</div>
</span>

</div><!-- /#screen-resolution-helper -->
</body>
</html>