<!doctype html>
<head>
	
	<script type="text/javascript">
	$("#list").val() == "A"
	  $(window).load(function(){
	  var options = {
	    chart: {
	        renderTo: 'chart-button',
	        defaultSeriesType: 'spline'
	    },
			title: {
				text: 'Company History',
				x: -20 //center
			},
			subtitle: {
				text: 'Source: Local Database',
				x: -20
			},
			xAxis: {
				type: "datetime"
			},
			yAxis: {
				title: {
					text: 'Number'
				},
				plotLines: [{
					value: 0,
					width: 1,
					color: '#808080'
				}]
			},
			legend: {
				layout: 'vertical',
				align: 'right',
				verticalAlign: 'top',
				x: -10,
				y: 100,
				borderWidth: 0
			},
			tooltip: {
				formatter: function() {
		                return '<b>'+ this.series.name +'</b><br/>'+
					Highcharts.dateFormat("%B, %Y",	this.x) +': '+'</b><br/>'+ 'value: ' + this.y;
				}
			},
	    series: []
	};

	$("#change").click(function(){
		//display staff level data for Apple
	if ($("#list").val() == "apple")
	{
	    options.series = [{name: 'first', data: [
			<% StaffLevel.where(:company_permalink => "apple").each do |staff_level| %> 
					[Date.UTC(<%=  staff_level.created_at.strftime("%Y,%m,%d") %>), <%= staff_level.number_of_employees %>],
				<% end %>
				]}]

	}
	//data for twitter
	else if ($("#list").val() == "twitter")
	{

		options.series = [{name: 'twitter', pointInterval: <%= 1.month * 1000 %>, 			
		pointStart: <%= 20.month.ago.to_i * 1000 %>,	
		name: 'staff_level', data: [
			<% StaffLevel.where(:company_permalink => "twitter").each do |staff_level| %> 
				[Date.UTC(<%=  staff_level.created_at.strftime("%Y,%m,%d") %>), <%= staff_level.number_of_employees %>],
			<% end %>
			]}]
	}
	//data for microsoft
	else
	{
	    options.series = [{name: 'microsoft', data: [
				<% StaffLevel.where(:company_permalink => 'microsoft').each do |staff_level| %> 
					[Date.UTC(<%=  staff_level.created_at.strftime("%Y,%m,%d") %>), <%= staff_level.number_of_employees %>],
				<% end %>
				]}]
	}
	var chart = new Highcharts.Chart(options);    
	});

	  });
	  </script>
	
	
	
	
	
	
	<script type="text/javascript">
		//------------the original chart-----------------------//
		var chart;
		$(document).ready(function() {
			chart = new Highcharts.Chart({
				chart: {
					renderTo: 'empnum_chart',
					defaultSeriesType: 'spline',
					marginRight: 100,
					marginBottom: 25
				},
				title: {
					text: 'Company History',
					x: -20 //center
				},
				subtitle: {
					text: 'Source: Local Database',
					x: -20
				},
				xAxis: {
					type: "datetime"
				},
				yAxis: {
					title: {
						text: 'Number'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}]
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'top',
					x: -10,
					y: 100,
					borderWidth: 0
				},
				tooltip: {
					formatter: function() {
			                return '<b>'+ this.series.name +'</b><br/>'+
						Highcharts.dateFormat("%B, %Y",	this.x) +': '+'</b><br/>'+ 'value: ' + this.y;
					}
				},
				series: [	
					{
					pointInterval: <%= 1.month * 1000 %>, 			
					pointStart: <%= 20.month.ago.to_i * 1000 %>,	
					name: 'staff_level',
					type: 'spline',
					data: [
						<% @staff_levels.each do |staff_level| %> 
							[Date.UTC(<%=  staff_level.created_at.strftime("%Y,%m,%d") %>), <%= staff_level.number_of_employees %>],
						<% end %>
					]
					}
				]
			});	
		});
	</script>
</head>
<body>
<div id="screen-resolution-helper">
<!--#######################	TOP	###########################-->

<div id="toolbar">
	<div id="styled-choice-links">
		<a href="#" class="tabs-ppl" title="People">People</a><br />
		<a href="#" class="tabs-cmp" title="Companies">Companies</a><br />
		<a href="#" class="tabs-org" title="Organisations">Organisations</a>
		<input class="button" type="button" rel="test" id="" value="S" />
	</div><!--/#styled-choice-links -->
</div><!-- /#toolbar -->
<div id="dash">
	<div id="input">
		<input name="search" value="" id="search" type="text" />
		<div id="choice-tabs">
			<ul id="choice-list">
				<li><a href="#tabs-ppl"></a></li>
				<li><a href="#tabs-cmp"></a></li>
				<li><a href="#tabs-org"></a></li>
			</ul><!--/#choice-list -->
			<div id="tabs-menu-wrapper">
				<div id="tabs-ppl"></div>
				<div id="tabs-cmp"></div>
				<div id="tabs-org"></div>
			</div><!--/#tabs-menu-wrapper -->
		</div><!--/#choice-tabs -->
	</div><!--/#input -->
	<div id="actions">
		<div id="staff-context-menu" class="staff">
			<h4>Enter your top secret information here!</h4><br />
			<span>New Staff level: <input name="new_staff_level" type="text" /></span>
			<span>Date: <input type="text" class="datepicker" name="staff-date" /></span>
			<button rel="new-staff-level">S</button>
		</div>
		<span class="people">
		<p>Person Based Context Menu</p>
		<span>New Person</span>
		<select></select>
		<input type="text" />
		</span>
		<span class="funding">
		<p>Funding Based Context Menu</p>
		<span>New Funding Information</span>
		<input type="text" />
		<select></select>
		</span>
		<div id="office-context-menu" class="offices">
		<h4>Enter a new office location:</h4>
		<span>Description: <input name="description" type="text" /></span>
		<span>Address 1: <input name="address1" type="text" /></span>
		<span>Address 2: <input name="address2" type="text" /></span>
		<span>Zip code: <input name="zip-code" type="text" /></span>
		<span>City: <input name="city-code" type="text" /></span>
		<span>State code: <input name="state-code" type="text" /></span><br />
		<span>Country code: <input name="country-code" type="text" /></span><br />
		<button rel="new-office-location">S</button>
		</div>
		<span class="products">
		<p>Product Based Context Menu</p>
		<span>New Product</span>
		<input type="text" />
		<select></select>
		</span>
	</div><!--/#actions -->
</div><!--/#dash -->

<!--#######################	MID	###########################-->

<div id="display">
	<div id="view">
		<div class="accordion">
			<div id="accordion-wrapper">
				<h3>
					<a href="#">Company</a>
					<button rel="staff">staff</button>
					<button rel="people">people</button>
					<button rel="funding">funding</button>
					<button rel="offices">offices</button>
					<button rel="products">products</button>
				</h3>
				<div id="company-1" style="display:none;">
					<ul class="hidden">
						<li><a href="#staff"></a></li>
						<li><a href="#people"></a></li>
						<li><a href="#funding"></a></li>
						<li><a href="#offices"></a></li>
						<li><a href="#products"></a></li>
					</ul>
					<div id="staff">
						<div id="empnum_chart" class="chart-holder right" style="width: 470px; height: 235px; margin: 0 auto">
						</div>
						<div class="accordion-sub-menu">
							<a href="/showchart" class="button right">C</a>
							<a href="/edit" class="button right">E</a>
							<a href="#" rel="new-staff-level" class="button right">N</a>
						</div>
					</div>
					<div id="people"></div>
					<div id="funding"></div>
					<div id="offices"></div>
					<div id="products"></div>
				</div><!-- /#company-1 -->
				<% @companies.each do |company| %>
					<h3>
						<a href="#"><%= company.name %></a>
						<button rel="staff-<%= company.permalink %>">staff</button>
						<button rel="people-<%= company.permalink %>">people</button>
						<button rel="funding-rounds-<%= company.permalink %>">funding</button>
						<button rel="offices-<%= company.permalink %>">offices</button>
						<button rel="products-<%= company.permalink %>">products</button>
					</h3>
					<div id="company-<%= company.permalink %>">
						<ul class="hidden">
							<li><a href="#staff-<%= company.permalink %>"></a></li>
							<li><a href="#people-<%= company.permalink %>"></a></li>
							<li><a href="#funding-rounds-<%= company.permalink %>"></a></li>
							<li><a href="#offices-<%= company.permalink %>"></a></li>
							<li><a href="#products-<%= company.permalink %>"></a></li>
						</ul>
						<div id="staff-<%= company.permalink %>">
							<div class="chart-holder right"></div>
							<div class="accordion-sub-menu">
								<a href="/showchart" class="button right">C</a>
								<a href="/edit" class="button right">E</a>
								<a href="#" rel="new-staff-level" class="button right">N</a>
							</div>	
						</div>
						<div id="people-<%= company.permalink %>">
							<div class="chart-holder right"></div>
							<div class="accordion-sub-menu"></div>	
						</div>
						<div id="funding-rounds-<%= company.permalink %>">
							<div class="chart-holder right"></div>
							<div class="accordion-sub-menu"></div>	
						</div>
						<div id="offices-<%= company.permalink %>">
							<div class="chart-holder right"></div>
							<div class="accordion-sub-menu">
								<a href="/showchart" class="button right">C</a>
								<a href="/edit" class="button right">E</a>
								<a href="#" rel="new-office-location" class="button right">N</a>
							</div>
						</div>
						<div id="products-<%= company.permalink %>">
							<div class="chart-holder right"></div>
							<div class="accordion-sub-menu">
								<a href="/showchart" class="button right">C</a>
								<a href="/edit" class="button right">E</a>
								<a href="#" rel="new-product" class="button right">N</a>
							</div>	
						</div>
					</div>
				<% end %>
			</div><!-- /#accoridion-wrapper -->
		</div><!--/.accordian -->
	</div><!--/#view -->
</div><!-- /#display -->

<!--######################  HIDDEN	########################-->

<span id="hidden-interface-elements" class="hidden">
	<input type="hidden" id="info" name="info" />
	<input class="button" type="button" id="__sub" value="" />
	<div class="staff-levels">
		<% @staff_levels.each do |staff_levels| %>
			<p class="<%= staff_levels.company_permalink %>">
			<span>Staff Levels:</span>  <%= staff_levels[:number_of_employees] %> -- as of <%= staff_levels[:updated_at] %>
			</p>
		<% end %>
	</div><!-- /.staff-levels -->
	<div class="people">
		<% @people.each do |people| %>
			<p class="<%= people %>">
				<%= people[:first_name] %> -- <% people[:title] %>
			</p>
		<% end %>
	</div>
	<div class="offices">
		<% @offices.each do |offices| %>
			<p class="<%= offices.company_permalink %>">
			<%= offices[:description] %> -- <% offices[:company_permalink] %>
			</p>
		<% end %>
	</div>
	<div class="products">
		<% @products.each do |products| %>
			<p class="<%= products.company_permalink %>">
			<%= products[:name] %> -- <% products[:created_at] %>
			</p>
		<% end %>
	</div>
	<div class="funding_rounds">
		<% @funding_rounds.each do |funding_rounds| %>
		<p class="<%= funding_rounds.company_permalink %>">
		<%= funding_rounds[:funded_year] %> -- <% funding_rounds[:raised_amount] %></p>
		<% end %>
	</div>
</span>

</div><!-- /#screen-resolution-helper -->






<SELECT id="list">
<OPTION VALUE="apple">Apple
<OPTION VALUE="twitter">Twitter
<OPTION VALUE="microsoft">Microsoft
</SELECT>
<button id="change">Refresh chart</button>

<div id="chart-button" style="width: 700px; height: 400px;"></div>
</body>
</html>