<!doctype html>
<head></head>
<body>
<div id="screen-resolution-helper">
<!--#######################	TOP	###########################-->

<div id="toolbar">
	<div id="styled-choice-links">
		<a href="#" class="tabs-ppl" title="People">People</a><br />
		<a href="#" class="tabs-cmp" title="Companies">Companies</a><br />
		<a href="#" class="tabs-org" title="Organisations">Organisations</a>
		<input class="button" type="button" rel="test" id="" value="S" />
	</div><!--/#styled-choice-links -->
</div><!-- /#toolbar -->
<div id="dash">
	<div id="input">
		<input name="search" value="" id="search" type="text" />
		<div id="choice-tabs">
			<ul id="choice-list">
				<li><a href="#tabs-ppl"></a></li>
				<li><a href="#tabs-cmp"></a></li>
				<li><a href="#tabs-org"></a></li>
			</ul><!--/#choice-list -->
			<div id="tabs-menu-wrapper">
				<div id="tabs-ppl"></div>
				<div id="tabs-cmp"></div>
				<div id="tabs-org"></div>
			</div><!--/#tabs-menu-wrapper -->
		</div><!--/#choice-tabs -->
	</div><!--/#input -->
	<div id="actions">
		<span class="staff">
		<p>Staff Based Context Menu</p><br />
		<span>New Staff level</span><br />
		<input name="new_staff_level" type="text" /><br />
		<button rel="new-staff-level">S</button>
		</span>
		<span class="people">
		<p>Person Based Context Menu</p>
		<span>New Person</span>
		<select></select>
		<input type="text" />
		</span>
		<span class="funding">
		<p>Funding Based Context Menu</p>
		<span>New Funding Information</span>
		<input type="text" />
		<select></select>
		</span>
		<span class="offices">
		<p>offices Based Context Menu</p>
		<span>New offices</span>
		<input type="text" />
		<select></select>
		</span>
		<span class="products">
		<p>Product Based Context Menu</p>
		<span>New Product</span>
		<input type="text" />
		<select></select>
		</span>
	</div><!--/#actions -->
</div><!--/#dash -->

<!--#######################	MID	###########################-->

<div id="display">
	<div id="view">
		<div class="accordion">
			<div id="accordion-wrapper">
				<h3>
					<a href="#">Company</a>
					<button rel="staff">staff</button>
					<button rel="people">people</button>
					<button rel="funding">funding</button>
					<button rel="offices">offices</button>
					<button rel="products">products</button>
				</h3>
				<div id="company-1" style="display:none;">
					<ul class="hidden">
						<li><a href="#staff"></a></li>
						<li><a href="#people"></a></li>
						<li><a href="#funding"></a></li>
						<li><a href="#offices"></a></li>
						<li><a href="#products"></a></li>
					</ul>
					<div id="staff">
						<div class="chart-holder right"></div>
						<div class="accordion-sub-menu">
							<a href="/showchart" class="button right">C</a>
							<a href="/edit" class="button right">E</a>
							<a href="#" rel="new-staff-level" class="button right">N</a>
						</div>
					</div>
					<div id="people"></div>
					<div id="funding"></div>
					<div id="offices"></div>
					<div id="products"></div>
				</div><!-- /#company-1 -->
				<% @companies.each do |company| %>
					<h3>
						<a href="#"><%= company.name %></a>
						<button rel="staff-<%= company.permalink %>">staff</button>
						<button rel="people-<%= company.permalink %>">people</button>
						<button rel="funding-<%= company.permalink %>">funding</button>
						<button rel="offices-<%= company.permalink %>">offices</button>
						<button rel="products-<%= company.permalink %>">products</button>
					</h3>
					<div id="company-<%= company.permalink %>">
						<ul class="hidden">
							<li><a href="#staff-<%= company.permalink %>"></a></li>
							<li><a href="#people-<%= company.permalink %>"></a></li>
							<li><a href="#funding-<%= company.permalink %>"></a></li>
							<li><a href="#offices-<%= company.permalink %>"></a></li>
							<li><a href="#products-<%= company.permalink %>"></a></li>
						</ul>
						<div id="staff-<%= company.permalink %>">
							<div class="chart-holder right"></div>
							<div class="accordion-sub-menu">
								<a href="/showchart" class="button right">C</a>
								<a href="/edit" class="button right">E</a>
								<a href="#" rel="new-staff-level" class="button right">N</a>
							</div>	
						</div>
						<div id="people-<%= company.permalink %>">
							<div class="chart-holder right"></div>
							<div class="accordion-sub-menu"></div>	
						</div>
						<div id="funding-<%= company.permalink %>">
							<div class="chart-holder right"></div>
							<div class="accordion-sub-menu"></div>	
						</div>
						<div id="offices-<%= company.permalink %>">
							<div class="chart-holder right"></div>
							<div class="accordion-sub-menu"></div>	
						</div>
						<div id="products-<%= company.permalink %>">
							<div class="chart-holder right"></div>
							<div class="accordion-sub-menu"></div>	
						</div>
					</div>
				<% end %>
			</div><!-- /#accoridion-wrapper -->
		</div><!--/.accordian -->
	</div><!--/#view -->
</div><!-- /#display -->

<!--######################  HIDDEN	########################-->

<span id="hidden-interface-elements" class="hidden">
	<input type="hidden" id="info" name="info" />
	<input class="button" type="button" id="__sub" value="" />
	<div class="staff-levels">
		<% @staff_levels.each do |staff_levels| %>
			<p class="<%= staff_levels.company_permalink %>">
			<span>Staff Levels:</span>  <%= staff_levels[:number_of_employees] %> -- as of <%= staff_levels[:updated_at] %>
			</p>
		<% end %>
	</div><!-- /.staff-levels -->
	<div class="people">
		<% @people.each do |people| %>
			<p class="<%= people %>">
				<%= people[:first_name] %> -- <% people[:title] %>
			</p>
		<% end %>
	</div>
	<div class="offices">
		<% @offices.each do |offices| %>
			<p class="<%= offices.company_permalink %>">
			<%= offices[:description] %> -- <% offices[:company_permalink] %>
			</p>
		<% end %>
	</div>
	<div class="products">
		<% @products.each do |products| %>
			<p class="<%= products.company_permalink %>">
			<%= products[:name] %> -- <% products[:created_at] %>
			</p>
		<% end %>
	</div>
</span>

</div><!-- /#screen-resolution-helper -->

</body>
</html>