
<h1 style="margin-top:25px">New Folder</h1>


<%= form_for([@research, @folder], :remote => true) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div id="edit" class="field">
	<%= f.label :Folder_title %><br />
	<%= f.text_field :title %>
	</div>
	

	<div class="actions" style="z-index:1000">
		<%= f.submit "Create Folder " %>
               
		
	<%= link_to 'Cancel', research_folders_path %>		
	</div>


 


    
</div>

<% end %>

<%= link_to 'Back', research_folders_path %>
