<table >
<tr>
<td align= "right">
<%= javascript_include_tag :ckeditor %>
<%= form_for([@folder, @folder.topics.find(@topic)], :remote => true) do |f| %>
		<% if @topic.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2><ul>
				
				<% @topic.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

	<div class="hidden">
	<%= f.label :title %><br />
	<%= f.text_field :title %>
	</div>

		<div class="field">
		

			<%= f.cktext_area :content, :height => '900px', :width => '900', :theme => 'office2003'%>

		</div> 
</td>
<td valign = "top" align = "right">
<table>
<tr>
<div id="progress">
<b><%= f.label :progress %></b><br>
<%= f.text_field :progress, :size => 5%></div>
</div>
<tr>
<tr><br>
</tr>
</table>
</td>
</tr>
</table>
		
<% end %>
