

<%= form_for([@folder, @folder.topics.new], :remote => true ) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="field">
	<%= f.label :title %><br />
	<%= f.text_field :title %>
	</div>

	
	<div class="field">

	<div class="field">
		<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>

			<%= f.text_area :content, :rows => 20, :cols => 120 %>


		
</div>


<div id="progress">
<%= f.label :progress %>
<%= f.text_field :progress %></div>
</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

