	<script>
			$(function() {
					// run the currently selected effect
					function runEffect() 
					{
							var selectedEffect = "blind" // get effect type from 
							var options = {};// most effect types need no options passed by default
							$( "#effect" ).show( selectedEffect, options, 500, callback );// run the effect
					};

					function callback() {};//callback function nothing here

					// set effect from select menu value
					$( "#text" ).click(function() {
							runEffect();
							return false;
					});

					$( "#effect" ).hide();
			});
			

	</script>
	<table style="margin-top:25px">
		<tr>
			<td align= "left"><%= link_to 'Exit', research_folder_topics_path(@research, @folder) %></td>
			<td align = "right"><h3><%= @topic.title%></h3></td>
			<td align= "left"><%= link_to "Updates", research_folder_topic_updates_path(@research, @folder, @topic) %></td>
			<td align ="left">Created By  <%= @created_by.firstName.slice(0) + " " +@created_by.lastName %>		</td>					
			<td align = "right">Updated by <%=@topic.user.firstName%></td>
			<td align = "right"><a href="#" id="text" >SEE history</a></td>
		</tr>
	</table>
	<table >
		<td valign = 'top'>
			<table>
				<tr><%= render :file => 'notifications/new' %></tr>
				<tr> <%= render :file => 'attachments/new' %></tr>
			
			</table>
		</td>
		<td  align = "center" valign = "top">
						<div id = "edit" >
							<%= render 'form_edit' %>
						</div>
				</td>
				<td width = 20% valign = "top">
					<div id= "effect">
					<% x= Topic.find(@topic.get_latest(@topic.id))%>
					<table>
					
						<tr>
								<td bgcolor = "silver"><%= link_to x.created_at, edit_research_folder_topic_path(x.folder.research, x.folder, x) %> by<br>
										<%= x.user.firstName + " " + x.user.lastName %>
								</td>
							</tr>
						
						<% until x.topic_id.nil? do %>
						<% x= x.topic%>
							<% if x.id == @topic.id %>
									<tr bgcolor = "silver">
												<td ><%= link_to x.created_at, edit_research_folder_topic_path(x.folder.research, x.folder, x) %> by<br>
													<%= x.user.firstName + " " + x.user.lastName %>
											</td>
										</tr>
									
									<% else %>
									<tr>
												<td ><%= link_to x.created_at, edit_research_folder_topic_path(x.folder.research, x.folder, x) %> by<br>
													<%= x.user.firstName + " " + x.user.lastName %>
											</td>
									</tr>
									
							<% end %>
						<% end%>
					
						
					</table>
					<table>
						<tr> 

						</tr>						
						<tr>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
