<table border= 0>
	<tr>
		<td align = "right"><h3><%= @topic.title%></h3></td>
		<td align= "left"><%= link_to "Updates", folder_topic_updates_path(@folder,@topic) %></td>

		<td align ="left">Created By 			
											 <%= @created_by.firstName.slice(0) + " " +@created_by.lastName %>
			</td>					
		<td align = "right">Updated by <%=@topic.user.firstName%></td>
	</tr>
</table>
<div id = "edit" >

<%= render 'form_edit' %>
</div>

