
	<script>
			$(function() {
					// run the currently selected effect
					function runEffect() 
					{
							var selectedEffect = "blind" // get effect type from 
							var options = {};// most effect types need no options passed by default
							$( "#effect" ).show( selectedEffect, options, 500, callback );// run the effect
					};

					function callback() {};//callback function nothing here

					// set effect from select menu value
					$( "#text" ).click(function() {
							runEffect();
							return false;
					});

					$( "#effect" ).hide();
			});

	</script>
<script><% if @topics.empty?%>
				<%	total_topics = 1%>
				<%	else%>
				<%	total_topics = @topics.count%>
				<%end%>
												$(function() {
												$( "#total" ).progressbar({
																value: <%=@topics.collect(&:progress).sum/total_topics%>});
													 var value = <%=@topics.collect(&:progress).sum/total_topics%>
													if (value <20){
															$("#total").css({ 'background': 'white' });
															$("#total > div").css({ 'background': 'red' });}
													
												  else if (value <50){
															$("#total").css({ 'background': 'white' });
															$("#total > div").css({ 'background': 'orange' });}
													else if (value <70){
															$("#total").css({ 'background': 'white' });
															$("#total > div").css({ 'background': 'lightblue' });}
													else{
															$("#total").css({ 'background': 'white' });
															$("#total > div").css({ 'background': 'lightgreen' });
													}
												});</script>
Total progress
<div id="total"></div>

	<h2> <%= @folder.title %></h2><%= link_to 'Add new', new_research_folder_topic_path, :remote =>true %>	
	<% if @folder.topics.nil? %>
		nothn to diplay
	<% else%>
	<table >
			<tr>
					<td valign="top">
						<table >
								<tr>
									<th>Title</th>
									<th>Owner</th>
									<th>Created</th>
									<th>Last Update</th>
									<th>Progress</th>
									<th></th>

								</tr>
							
								<%= will_paginate @topics %>
								<% @topics.each do |topic| %>
									
								
										<tr>
											<td><%= link_to topic.title, edit_research_folder_topic_path(topic.folder.research,topic.folder, topic) %></td>
											<td>
													
														<% @created_by=topic.get_owner(topic.id) %>
														<%= @created_by.firstName %> <%= @created_by.lastName %> 
													
											</td>
											<td><%=topic.get_created_at(topic.id) %></td>
											<td>
											
													<%= topic.created_at %> by <%= topic.user.firstName %>
											
											</td><script>
												$(function() {
												$( "#<%=topic.created_at.hash%>" ).progressbar({
													value: <%=topic.progress%>});
														 var value = <%=topic.progress%>
													if (value <20){
															$("#<%=topic.created_at.hash%>").css({ 'background': 'white' });
															$("#<%=topic.created_at.hash%> > div").css({ 'background': 'red' });}
													
												  else if (value <50){
															$("#<%=topic.created_at.hash%>").css({ 'background': 'white' });
															$("#<%=topic.created_at.hash%> > div").css({ 'background': 'orange' });}
													else if (value <70){
															$("#<%=topic.created_at.hash%>").css({ 'background': 'white' });
															$("#<%=topic.created_at.hash%> > div").css({ 'background': 'lightblue' });}
													else{
															$("#<%=topic.created_at.hash%>").css({ 'background': 'white' });
															$("#<%=topic.created_at.hash%> > div").css({ 'background': 'lightgreen' });
													}
												});</script>
											<td><div id="<%=topic.created_at.hash%>"></div></td>
											<td><%= button_to 'Delete',research_folder_topic_path(topic.folder.research,topic.folder,topic), :confirm => 'Are you sure?', :method => :delete %></td>
										</tr>
								<% end %>
						</table>
					</td>
					<td align = "right", valign = "top">
						<table>
											
							<tr></tr>
						</table>
					</td>
			</tr>
	</table>
	</br>




	<%end%>
	
	<%= link_to 'Back', research_folders_path %>



