<table>
<% @attachments.each do |attachment| %>
<tr>	
		<td><a href= /researches/<%= @research.id %>/folders/<%=@folder.id%>/topics/<%= @topic.id%>/attachments/<%= attachment.id %> ><%= attachment.document_file_name %></a>  </td>
		<td><%= image_tag attachment.document.url(:thumb) %></td>
		<td><%= button_to 'Destroy', folder_topic_attachment_path(@folder,@topic,attachment), :confirm => 'Are you sure?', :method => :delete %></td></tr>
<% end %>
</table>
