<td bgcolor= "#F1F1F1"><b>Attachments</b></td></tr>
				<%if @attachments.empty? %>
<tr><td>You have no attachments for this document </td></tr>

<% else %>
				<% @attachments.each do |attachment| %>
				
				<tr>
				

					<td><a href= /researches/<%= @research.id %>/folders/<%=@folder.id%>/topics/<%= @topic.id%>/attachments/<%= attachment.id %> ><%= attachment.document_file_name %></a>  </td>
					<% end %>
				</tr>
				
				<% end %>
 <%= form_for([@research, @folder, @topic, @attachment], :html => { :multipart => true }, :remote => true) do |f| %>
  <% if @attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attachment.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <%= f.file_field :document %>


	

	<div class="actions" style="z-index:1000">
		<%= f.submit "Save Attachment" %>
               
		
		
	</div>



   

<% end %>


<%= link_to 'See All', research_folder_topic_attachments_path(@research, @folder,@topic) %>
