<p style="margin-top:25px;" id="notice"><%= notice %></p>

<script type="text/javascript">
	var chart;
	$(document).ready(function() {
		chart = new Highcharts.Chart({
			chart: {
				renderTo: 'empnum_chart',
				defaultSeriesType: 'spline',
				marginRight: 100,
				marginBottom: 25
			},
			title: {
				text: 'Company History',
				x: -20 //center
			},
			subtitle: {
				text: 'Source: Local Database',
				x: -20
			},
			xAxis: {
				type: "datetime"
			},
			yAxis: {
				title: {
					text: 'Number'
				},
				plotLines: [{
					value: 0,
					width: 1,
					color: '#808080'
				}]
			},
			legend: {
				layout: 'vertical',
				align: 'right',
				verticalAlign: 'top',
				x: -10,
				y: 100,
				borderWidth: 0
			},
			tooltip: {
				formatter: function() {
		                return '<b>'+ this.series.name +'</b><br/>'+
					Highcharts.dateFormat("%B, %Y",	this.x) +': '+'</b><br/>'+ 'value: ' + this.y;
				}
			},
			series: [	
		
				{
				pointInterval: <%= 1.month * 1000 %>, 			
				pointStart: <%= 20.month.ago.to_i * 1000 %>,	
				name: 'Funds',
				type: 'spline',
				data: [
					<% @company.funds.each do |fund| %> 
						[Date.UTC(<%=  fund.date_of_record.strftime("%Y,%m,%d") %>), <%= fund.money%>],
					<% end %>
				]				
				},
				
				{
				pointInterval: <%= 1.month * 1000 %>, 			
				pointStart: <%= 20.month.ago.to_i * 1000 %>,	
				name: 'Stlevel',
				type: 'spline',
				data: [
					<% @company.stlevels.each do |stlevel| %> 
						[Date.UTC(<%=  stlevel.date_of_record.strftime("%Y,%m,%d") %>), <%= stlevel.staff_number %>],
					<% end %>
				]
				}
				
			]
		});	
	});
</script>
<div id="empnum_chart" style="width: 650px; height: 325px; margin: 0 auto"></div>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Company type:</b>
  <%= @company.company_type %>
</p>

<p>
  <b>Company field:</b>
  <%= @company.company_field %>
</p>
<%= link_to 'Edit Company', edit_company_path(@company) %> |
<%= link_to 'Back to Companies list', companies_path %> |
<%= link_to 'Show Funds Details', company_funds_path(@company) %> |
<%= link_to 'Show stlevels Details', company_stlevels_path(@company) %>


