<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Type:</b>
  <%= @company.company_type %>
</p>

<p>
  <b>Field:</b>
  <%= @company.company_field %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
