<table><tr><td align ="right"><b>Updates for <%= link_to @topic.title, edit_folder_topic_path(@topic.folder, @topic)  %> </td><td align = "right">
Created By: <b><%= @created_by.firstName + " " +@created_by.lastName %></b> On <b><%=@topic.get_created_at(@topic.id) %></td></tr></table>

<table ><br>
  <tr align ="left" >
    
    <th>Updated By</th>
    <th>Time</th>
		<th>Progress Change</th>
		<th></th>   
  </tr>

<% x= @topic%>
  <tr>
		<td><%= x.user.firstName + " " + x.user.lastName %>
		<td><%= x.created_at %></td>
		<td><div id="<%=x.created_at.hash%>"></div></td>
<script>
				$(function() {
												$( "#<%=x.created_at.hash%>" ).progressbar({
																value: <%=x.progress%>});
													 var value = <%=x.progress%>
													if (value <20){
															$("#<%=x.created_at.hash%>").css({ 'background': 'white' });
															$("#<%=x.created_at.hash%> > div").css({ 'background': 'red' });}
													
												  else if (value <50){
															$("#<%=x.created_at.hash%>").css({ 'background': 'white' });
															$("#<%=x.created_at.hash%> > div").css({ 'background': 'orange' });}
													else if (value <70){
															$("#<%=x.created_at.hash%>").css({ 'background': 'white' });
															$("#<%=x.created_at.hash%> > div").css({ 'background': 'lightblue' });}
													else{
															$("#<%=x.created_at.hash%>").css({ 'background': 'white' });
															$("#<%=x.created_at.hash%> > div").css({ 'background': 'lightgreen' });
													}
												});</script>
<td><%= link_to 'review', edit_folder_topic_path(x.folder, x)%></td>
  </tr>
<% until x.topic.topic_id.nil? do %>
<%x=x.topic%>
  <tr>
		<td><%= x.user.firstName + " " + x.user.lastName %>
		<td><%= x.created_at %></td>
		<td><div id="<%=x.created_at.hash%>"></div></td>
<script>
				$(function() {
												$( "#<%=x.created_at.hash%>" ).progressbar({
																value: <%=x.progress%>});
													 var value = <%=x.progress%>
													if (value <20){
															$("#<%=x.created_at.hash%>").css({ 'background': 'white' });
															$("#<%=x.created_at.hash%> > div").css({ 'background': 'red' });}
													
												  else if (value <50){
															$("#<%=x.created_at.hash%>").css({ 'background': 'white' });
															$("#<%=x.created_at.hash%> > div").css({ 'background': 'orange' });}
													else if (value <70){
															$("#<%=x.created_at.hash%>").css({ 'background': 'white' });
															$("#<%=x.created_at.hash%> > div").css({ 'background': 'lightblue' });}
													else{
															$("#<%=x.created_at.hash%>").css({ 'background': 'white' });
															$("#<%=x.created_at.hash%> > div").css({ 'background': 'lightgreen' });
													}
												});</script>
<td><%= link_to 'review', edit_folder_topic_path(x.folder, x)%></td>
  </tr>

<% end %>

			
</table>


<br />

<%= link_to 'Back', edit_folder_topic_path(@topic.folder, @topic) %>	
