<h1> Update history </h1> <%= link_to @user.firstName + " " +current_user.lastName, edit_user_registration_path %>

<table >
  <tr>
    <th>Topic</th>
		<th>Folder</th>
    <th>Type</th>
    <th>Date</th>
  </tr>

<% unless @updates.nil? %>

<%= will_paginate @updates %>
<% @updates.each do |update| %>
<% unless update.topic.nil? %>  
<tr>
    <td align= "center"><%= update.topic.title %></td>
    <td align= "center" ><%= update.topic.folder.title %></td>
		<td align= "center"align= "center"><%= update.type_of_update %></td>
		<td align= "center"><%= update.created_at %></td>
  </tr>
<% else %>
<%= update.id %>

<% end %>
<% end %>
<% else %>
<%= "No updates" %>
<% end %>
</table>



<br />

<%= link_to 'Back', :back %>	
