<h1> Update history </h1> <%= link_to @user.firstName + " " +current_user.lastName, edit_user_registration_path %>

<table border id =1, color ='1223344'>
  <tr>
    <th>Topic</th>
		<th>Header</th>
    <th>Type</th>
    <th>Date</th>
  </tr>

<% unless @updates.nil? %>
<% @updates.each do |update| %>
<% unless update.topic.nil? %>  
<tr>
    <td><%= update.topic.title %></td>
    <td><%= update.topic.folder.title %></td>
		<td><%= update.type_of_update %></td>
		<td><%= update.created_at %></td>
  </tr>
<% else %>
<%= update.id %>

<% end %>
<% end %>
<% else %>
<%= "No updates" %>
<% end %>
</table>



<br />

<%= link_to 'Back', folders_path %>	
