
<div id = "#" stlye = {table width = '500'}>
<table width = '500px'>

<%= render 'shared/index' %>

</br>
  <h4>Documents containing <%= params[:search] %></h4>
<% @topics.each do |topic| %>
  
				<% folder = Folder.find(topic.folder_id)%> 
				<% research = Research.find(folder.research_id)%>
				
				
					<td><%= link_to topic.title, edit_research_folder_topic_path(research, folder,topic)   %> </td>
		<td colspan="4" class="pad">last updated by Updated by <%= topic.user.firstName + " "%>at <%= topic.created_at %></td>	
				
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'back', :back %>
