<h1>staff_levels#index</h1>

<table>
	<tr>
		<th>staff_level Details:</th>
	</tr>
	
	<% for staff_level in @staff_levels %>
		<tr>
			<td><%= staff_level.date_of_record %></td>
			<td><%= staff_level.staff_number %></td>
			<td><%= link_to 'Edit', edit_company_staff_level_path(@company, staff_level) %></td>
			<td><%= button_to 'Destroy', company_staff_level_path(@company, staff_level), :confirm=> 'sure?', :method => :delete %></td>
			</tr>
			<% end %>
			</table>
<br />

<%= link_to 'New staff_level', new_company_staff_level_path(@company) %> |
<%= link_to 'Back to Company', @company %>
<p>Find me in app/views/staff_levels/index.html.erb</p>
