<!DOCTYPE html>
<%= javascript_include_tag :all %>
<html>
<head>
  <title>Knowman</title>
  <%= stylesheet_link_tag 'custom' %>

	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	
	<%= javascript_include_tag 'jquery','rails', 'highcharts', 'gray'%>
</head>
<body>

		<div id="inside"> 
			<div id="sidebar"> 
	  		<div id="social-icons">
					add some stuff later (img or texts whatever)
				</div><!-- close div social-icons -->
	
				<div id="mainmenu"> 
        	<ul> 
            	<li class="active"><a href="">Index</a></li>
                <li><%= link_to 'Research', folders_path %></li> 
                <li><a href="">Competor</a></li> 
                <li><a href="">Investor</a></li> 
                <li><a href="">Dummy button</a></li> 
                <li><a href="">Dummy button</a></li> 
                <li><%= link_to 'Tests page for Cassie', companies_path %></li> 
								 <li><%= link_to 'Log Out', sign_out_path%></li>
          </ul> 
        </div><!-- close div mainmenu -->
				        <div class="inner"> 
				        </div> 
			</div><!-- close div sidebar --> 

				    <div id="main"> 
				    	<div id="header"> 
								<div id="mainlogo">	<%= image_tag("/images/Brainworth-logo.png", :class => "round", :height=>"65") %></div>
				          <div class="slogan-small"> Smart. Creative. <span class="black">Out of Box.</span>
									</div> 
									<% if user_signed_in? %>
									<%= "Welcome "%><%=link_to current_user.firstName+current_user.lastName, edit_user_registration_path%> 
									<%end %>
				        	<div class="clear">
				        	</div> 
				      </div> 

				        <div id="content">   
						<%= yield %>  
									
								</div><!-- close div content --> 

				        <div class="clear">
				        </div> 

				        <div id="footer"> 
				        	<div class="left">&copy; Copyright 2011</div> 
				            <div class="right">Group E</a></div> 
				       	  <div class="clear">
				       	  </div> 
				        </div> 

				    </div><!-- close div main --> 
				    <div class="clear"></div> 
		</div><!-- close div inside -->  


<!--	 yield    -->
	
	</section>
</body>
</html>
