<!DOCTYPE html>
<html>
<head>
<title>Knowman</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<%= javascript_include_tag :all, :cache => true %>
<%= stylesheet_link_tag :all, :cache => true %>
</head>
<body>
	<div id="inside"> 
		<div id="main"> 
		<div id="header"> 
			<div id="mainmenu">
					<div id="menus">
						<% if user_signed_in? %>
						<span style="position:relative; top:-15px;">Welcome <%= link_to current_user.firstName  +  current_user.lastName, edit_user_registration_path%></span> 
					<span align = "top"><%= link_to 'logout', sign_out_path %> <span style="padding-left:10px"><%= link_to 'user history', userupdate_path %></span>
						<%end %>
						<a href="/researches" class="menu research" title="research"></a>
						<a href="/dashboard" class="menu information" title="information"></a>
						<a href="#" class="menu usericon" title="User profile"></a>
						<a href="#" class="menu settingicon" title="Setting"></a>						
						<a href="#" class="menu rssicon" title="RSS feed"></a>
						<a href="#" class="menu homeicon" title="Dashboard"></a>						
					</div>
					
				</div><!-- /#mainmenu -->
		</div> 
		
		<div id="content">   
		<%= yield %>  
		</div><!-- close div content -->  
		</div><!-- close div main --> 
		<div class="clear"></div> 
	</div><!-- close div inside -->  
<!--	 yield    -->
</body>
</html>
